


#page{
    width: 1000px;
    margin: 0 auto;
    font-family: 'Delicious Handrawn';
}
.miyavipicture{
    width: 500px;
    height: 400px;
}


/* --------------- */




#header{
 
    position:relative;
}

.header2{
    margin-top: 10px;
   
}
#myname{
    line-height: 150px;
    margin-right: 10px;
    float: right;
}
body{

    font-family: 'Delicious Handrawn'; 
    font-size: 30px
}


#video{
  margin-top: 20px;
  width: 500;
 }
.aside{
    display: table;
}

/* .miyavimain{
  
    position: relative;
    width: 600px;
    height: 350px;
    display: inline-block;
    left:120px
} */
    
#header>h1{

    display: inline-block;
    font-size: 40px;
    line-height: 90px;
    width: 80%;
    height: 100%;
    line-height: 30px;
   line-height: 110px;
    margin-left: 25px;
    position: absolute;
    font-family: 'Delicious Handrawn'; 
}
#nav {

}
#menu{
    display: flex;
    align-items:center;
    width: 200px;
    height: 100px;

}
.btnmenu{
    float: left;
    height:50%;
  
}
#nav li{
    
    display: inline-block ;
    background-color:white;
    width: 200px;
    height: 30px;
    margin-top: 30px;
    text-align: center;
    line-height: 30px;    
    margin-right: -6px;
}
#aside{
    border: 1px solid whitetan;
    width: 145px;
    min-height: 500px;
    float: left;
    line-height: 100px;
    list-style: none;
    padding-left: 10px;      
    
}

#section{
    border: 1px solid white;
    min-height: 500px;
    float: right;	
}
#footer{
    position: relative;
    clear: both;
    height: 80px;
    background-color: white;
}
/* #footer p{
    text-align: center;
    line-height: 80px;
} */
.bottom{
   
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 30%;
    height: 30%;
    margin-bottom :300px;
}

